/* You can add global styles to this file, and also import other style files */
body{
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;

}

.wrapper div.sidebar.toggeled-sidebar{    
    width: 70px;
  }

  .wrapper div.sidebar.toggeled-sidebar .sideNavbar ul li span{
    display: none;
  }